{% extends "base.html" %}
{% block title %}Unlock PDF Online Free{% endblock %}
{% block description %}Remove password from your PDF securely online.{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="glass-card text-center">

            <h1 class="mb-4">Unlock PDF</h1>
            <p class="mb-4">Remove password from your PDF securely.</p>

            {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data" onsubmit="showLoader()">
                {% csrf_token %}
                
                <input type="file" name="pdf" required class="form-control mb-3">

                <input type="password" name="password" 
                       placeholder="Enter PDF Password" 
                       class="form-control mb-3" required>

                <button type="submit" class="btn btn-premium">
                    Unlock PDF
                </button>

                <div id="loader" style="display:none;margin-top:10px;">
                    Processing...
                </div>
            </form>
              <hr class="my-5">

<h2>Unlock PDF Online Free</h2>
<p>
Remove password protection from PDF files quickly and securely.
</p>

<h2>How to Unlock PDF?</h2>
<ol>
<li>Upload protected PDF.</li>
<li>Enter password.</li>
<li>Download unlocked file.</li>
</ol>
        </div>
    </div>
</div>

<script>
function showLoader() {
    document.getElementById("loader").style.display = "block";
}
</script>

{% endblock %}